body {
  background-color: black;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 2.2rem;
}

.top-container {
  background-color: #191C24;
  color: white;
  text-align: center;
  font-family: 'Dosis';
  position: relative;
  margin: 20px;
  border-radius: 4px;
}

.heading {
  margin: 0 auto 0 auto;
  font-size: 3em;
  position: relative;
  top: 160px;
  font-weight: 500;
}

.subtitle {
  margin: 0 auto 0 auto;
  font-size: 2.97rem;
  display: inline-block;
  color: rgb(108, 114, 147);
  position: relative;
  top: 170px;
  font-weight: 400;
  padding-bottom: 30px;
}


h3 {
  color: #FFAB00;
}

h2 {
  color: #0090E7;
}

.superb {
  color: #0090E7;
  position: relative;
  top: 0;
}

.frontImg {
  padding-top: 200px;
}

.middle-container {
  background-color: #191C24;
  padding: 60px;
  position: relative;
  margin: 20px;
  border-radius: 4px;
  bottom: 0;
}

.profile {
  border: solid black 5px;
  border-radius: 4px;
  background-color: #12151E;
  padding: 50px;
  margin-bottom: 30px;
}

.skills {
  border: solid black 5px;
  border-radius: 4px;
  background-color: #12151E;
}

.skill-row {
  width: 75%;
  margin: 100px auto;
  text-align: left;
  line-height: 1.8;
}

.academySkill {
  width: 25%;
  float: right;
  margin-left: 16px;
}

.codeSkill {
  width: 25%;
  float: left;
  margin-right: 58px;
}

.propic {
  height: 450px;
}


a {
  padding: 5px;
  text-decoration: none;
  color: #8F5FE8;
}

.footer-link {
  display: inline-block;
  margin: auto;
  padding: 0 25px;
}

.bottom-container {
  background-color: #191C24;
  padding: 60px 60px 5px 60px;
  position: relative;
  margin: 20px 20px 0 20px;
  border-radius: 4px;
}

.frontImg {
  width: 75%;
}

.ender {
  color: #6e4086;
}



.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  background: #0dbf57;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0ca348;
  text-decoration: none;
}
